@media (min-width:768px) and (max-width: 991px) {
  body {
    padding-top: 100px;
  }
}

/*Header formatting */
.MainContent {
    margin-top: 50px;
}

.seb-section-header {
    margin-top: 2em;
}

.ontop {
	z-index:1;
}

.no_overflow {
	display: block;
}

.sebnavbar-link {
    padding-top: 50px;
    margin-top: -50px;
}

.group, .subgroup {
    padding-top: 50px;
    margin-top: -50px;
}

.sebbrandimg {
    margin-top:-10px;
	vertical-align:top;
}
.sebnavbar-brand {
    margin:0;
    display: inline-block;
}
.navbar .logo {
    width: 40px;
}

#half_linespace {
	margin-bottom: 0.5em;
}
#quarter_linespace {
	margin-bottom: 0.25em;
}
#full_linespace {
	margin-bottom: 1em;
}
.no_linespace {
	margin-bottom: 0em;
}
.command_linespace {
	margin: 0.25em 0 0.33em 0;
	line-height: 16px;
}
.path {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
	font-weight: bold;
	font-style: italic;
	line-height: 16px;
	white-space: nowrap;
}
.sourcecode {
	color: #444;
	font-size: 12px;
	font-family: Courier, Consolas, monospace;
	line-height: 14px;
	background-color: #d4d4d4;
	word-break: break-all;
	margin: 0.25em 0 0.25em 0;
}
#codeblock {
	margin-top: 0em;
	margin-bottom: 1em;
	word-break: break-all;
}
.codetext {
	font-family: Courier, Consolas, monospace;
	color: #555;
	font-size: 13px;
}
.indent1 {
	text-indent: 20px;
}
.margin1 {
	margin-left: 20px;
}
.indent2 {
	text-indent: 40px;
}
.indent3 {
	text-indent: 60px;
}
.indent4 {
	text-indent: 80px;
}
.indent5 {
	text-indent: 100px;
}
.indent6 {
	text-indent: 120px;
}
#sebh5 {
	margin-bottom: 0.5em;
	margin-top: 2em;
}
#seblist ul {
	margin: 0.5em 0 1em -1.5em;
}
#seblist li {
	margin-bottom: 0.5em;
	line-height: 1.25em;
}
#seblist ul li ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
#seblist ul li ul li {
	margin-top: 0px;
	margin-bottom: 0px;
}
.textsubnavi { color: #070782; font-size: 10pt; font-weight: bold; text-decoration: none; }
.linksubnavi { color: #6a8ccf; font-size: 10pt; font-weight: bold; text-decoration: none; }
.textmainnavi { color: #494949; font-size: 11pt; font-weight: bold; }
#tablecell {
	padding-right: 5px;
	padding-left: 5px;
}
#container #content #releases tr td {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: top;
}
.red {
	color: #F00;
}
.mac_prefs_screenshot {
	margin-top: -32px;
	margin-right: -60px;
	margin-bottom: -80px;
	margin-left: -60px;
	padding-top: 5px;
	padding-bottom: 40px;
}
.image1 {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border: 1px solid #999;
}
.image2 {
	position: relative;
	left: -27px;
	top: -15px;
	margin-bottom: -55px;
}
.image3 {
	position: relative;
	left: -78px;
	top: -15px;
	margin-bottom: -60px;
}
.image4 {
	position: relative;
	left: -102px;
	top: -15px;
	margin-bottom: -60px;
}
.image5 {
	position: relative;
	left: -45px;
	top: 0px;
	margin-bottom: 0px;
}
.image_memberlogos {
	width: 140px;
	margin-bottom: 10px;
}
.image-only {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.podcastbox {
	height: 300px;
	width: 300px;
}
.imagecaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	font-weight: bold;
	margin: 0em 0em 2em 0em;
	line-height: 1.25em;
}
.caption_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
	font-weight: bold;
	line-height: 1.25em;
}
.normal_line_height {
	line-height: 16px;
}
.link_small {
	font-size: 10px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 12px;
}
.textklein {
	font-size: 9px;
	font-family: sans-serif;
	font-weight: normal;
}
#title_table {
}
.quote {
	font-weight: bold;
	color: #666;
}
.quarter_linespace {
	margin-bottom: 0.25em;
}
.half_linespace {
	margin-bottom: 0.5em;
}
.list_regular {
	font-size: 13px;
	font: Arial, Helvetica, sans-serif;
}
